<p>Title: <strong><%= project.title %></strong></p>
<p>Description: <strong><%= project.description %></strong></p>

<br>
	
<%= link_to "Show Page", project if action_name == "index" %> |
<%= link_to "Edit Page", edit_project_path(project) %>