<h1>Project Show Page</h1>
<!-- Render the projects -->	
<%= render @project%>
<br>
<!-- If the project belongs to the USER, link to delete -->
<% if current_user.id == @project.user_id %>
	<%= link_to "Delete", @project, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>