/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {

	font-family: 'Raleway', sans-serif;
  	background-color: #FFFFFF;
	color: #34BEEF;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 150px;
	margin-bottom: 10px;
}

.header-nav-bar {
	width: 100%;
    height: 120px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #01181b;
    color: #fff;
    display: block;
}

.container-header {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    width: 100%;
}

.container-header img {
    height: 60px;
    margin-left: 127px;
}

.container-header p {
    float: right;
    margin-top: 26px;
    margin-right: 70px;
}

.container-header p a {
    color: #34beef;
    text-decoration: none;
    font-size: 16px;
}

.watermark {
	opacity: 0.1;
	display: inline-block;
	position: absolute;
    position: fixed;
	left: 500px;
	top: 100px;
	width: 300px;
	height: 300px;
    z-index: -1;
    margin: 0 auto;
}

.grid {
	width: 400px;
	display: inline-block;
	padding: 20px;
	margin: 20px;
}

.text {
	padding: 10px;
	margin: 10px;
	border: 2px solid rgba(31, 31, 31, 0.4);
    height: 470px;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #34beef;
    margin: 0 auto;
    box-shadow: 0px 4px 30px 5px #888888;
    height: 585px;
    margin: 0 auto;
}

.login-block-for-login {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #34beef;
    margin: 0 auto;
    box-shadow: 0px 4px 30px 5px #888888;
    height: 350px;
    margin: 0 auto;
}

.login-block h2 {
    text-align: center;
    color: #34beef;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block-for-login h2 {
    text-align: center;
    color: #34beef;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;
}

.login-block-for-login input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;
}

.login-block input#email {
    background: #fff url(http://i.imgur.com/u0XmBmv.png) 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}

.login-block-for-login input#email {
    background: #fff url(http://i.imgur.com/u0XmBmv.png) 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}

.login-block input#email:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block-for-login input#email:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}

.login-block-for-login input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block-for-login input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #34beef;
}

.login-block-for-login input:active, .login-block-for-login input:focus {
    border: 1px solid #34beef;
}

.login-block input#submit {
    width: 100%;
    height: 40px;
    background: #34beef;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.login-block-for-login input#submit {
    width: 100%;
    height: 40px;
    background: #34beef;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.login-block input#submit:hover {
    background: #5bd4ff;
}

.login-block-for-login input#submit:hover {
    background: #5bd4ff;
}

.login-block a {
    display: none;
}

.navbar-options-hover {
    background: #5bd4ff;
}

#sign-up-link {
    color: #34beef;
}

#text-center {
    text-align: center;
}

#resize-texfield { 
    resize: vertical;
    width: 280px;
    max-height: 75px;
    border-radius: 5px;
}

#login-block-for-project {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #34beef;
    margin: 0 auto;
    box-shadow: 0px 4px 30px 5px #888888;
    height: 960px;
    margin: 0 auto;
}

#login-block-for-project h2 {
    text-align: center;
    color: #34beef;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

#login-block-for-project input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    outline: none;
}

#login-block-for-project input#email {
    background: #fff url(http://i.imgur.com/u0XmBmv.png) 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}


#login-block-for-project input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}

#login-block-for-project input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

#login-block-for-project input:active, #login-block-for-project input:focus {
    border: 1px solid #34beef;
}

#login-block-for-project input#submit {
    width: 100%;
    height: 40px;
    background: #34beef;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

#login-block-for-project input#submit:hover {
    background: #5bd4ff;
}

#tag-list {
    list-style:none;
}












