/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: white;
	font-family: 'Raleway', sans-serif;
	color: #34BEEF;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.watermark {
	opacity: 0.1;
	display: inline-block;
	position: absolute;
	left: 500px;
	top: 100px;
	width: 300px;
	height: 300px;
	color: white;
}

hr {
	width: 95%;
}